/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */
$font-path: "~carbon-components/src/globals/fonts";

@use "@carbon/styles/scss/config" with (
  // Use flexbox for grid - stick to CSS Grid or Flexbox
  // CSS Grid has become the default grid system in v11
  $use-flexbox-grid: true
);

@use "@carbon/styles";

// Theme variables, must be included before the libraries to allow overriding defaults
@import "assets/scss/theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";

// Theme customization
@import "assets/scss/theme/theme";


// Custom Styles

body {
	@include styles.theme(styles.$g10);
  background-color: var(--cds-background);
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}